@inject NavigationManager _navManager

<EditForm Model="@EmailAddress" OnValidSubmit="@SubmitEmailAddressAsync">
    <div class="form-group">
        <InputText class="form-control" @bind-Value="EmailAddress.EmailAddress" />
    </div>
    <button type="submit" class="btn btn-primary" style="flex:1;margin: 7px 0px">Update</button>
    <button type="button" class="btn btn-warning" style="flex:1;margin: 7px 0px" @onclick="CancelEdit">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public EmailAddressModel EmailAddress { get; set; }

    private void CancelEdit()
    {
        _navManager.NavigateTo(_navManager.Uri, true);
    }

    private async void SubmitEmailAddressAsync()
    {
        if (string.IsNullOrEmpty(EmailAddress.EmailAddress) == false)
        {
            await _emailAddressService.UpdateEmailAddressAsync(EmailAddress);
        }

        _navManager.NavigateTo(_navManager.Uri, true);
    }
}


