@inject NavigationManager _navManager

<div>
    <button type="button" class="btn btn-danger btn-sm" @onclick="@(l => DeleteAddressEfAsync(AddressId))">Confirm</button>
    <button type="button" class="btn btn-warning btn-sm" @onclick="@(() => CancelDeletion())">Cancel</button>
</div>

@code {
    [Parameter]
    public int AddressId { get; set; }

    private async Task DeleteAddressEfAsync(int addressId)
    {
        await _addressServiceEf.DeleteAddressEfAsync(addressId);

        _navManager.NavigateTo(_navManager.Uri, true);
    }

    private void CancelDeletion()
    {
        _navManager.NavigateTo(_navManager.Uri, true);
    }
}
