@inject NavigationManager _navManager

<div>
    <button type="button" class="btn btn-danger btn-sm" @onclick="@(l => DeleteEmailAddressEfAsync(EmailAddress))">Confirm</button>
    <button type="button" class="btn btn-warning btn-sm" @onclick="@(() => CancelDeletion())">Cancel</button>
</div>

@code {
    [CascadingParameter]
    public IModalService? ModalService { get; set; }

    [Parameter]
    public EmailAddressModel EmailAddress { get; set; }

    private async Task DeleteEmailAddressEfAsync(EmailAddressModel emailAddress)
    {
        if (emailAddress != null)
        {
            await _emailAddressServiceEf.DeleteEmailAddressEfAsync(emailAddress);
        }

        _navManager.NavigateTo(_navManager.Uri, true);
    }

    private void CancelDeletion()
    {
        _navManager.NavigateTo(_navManager.Uri, true);
    }
}
