@inject NavigationManager _navManager

<div>
    <button type="button" class="btn btn-danger btn-sm" @onclick="@(l => DeleteLeaseholderEfAsync(LeaseholderId))">Confirm</button>
    <button type="button" class="btn btn-warning btn-sm" @onclick="@(() => CancelDeletion())">Cancel</button>
</div>

@code {
    [Parameter]
    public int LeaseholderId { get; set; }

    private async Task DeleteLeaseholderEfAsync(int leaseholderId)
    {
        await _leaseholderServiceEf.DeleteLeaseholderEfAsync(leaseholderId);

        _navManager.NavigateTo("/leaseholdersinformation_entityframework", forceLoad: true);
    }

    private void CancelDeletion()
    {
        _navManager.NavigateTo("/leaseholdersinformation_entityframework");
    }
}


