@inject NavigationManager _navManager

<div>
    <button type="button" class="btn btn-danger btn-sm" @onclick="@(l => DeleteLeaseholderDapperAsync(LeaseholderId))">Confirm</button>
    <button type="button" class="btn btn-warning btn-sm" @onclick="@(() => CancelDeletion())">Cancel</button>
</div>

@code {
    [Parameter]
    public int LeaseholderId { get; set; }

    private async Task DeleteLeaseholderDapperAsync(int leaseholderId)
    {
        await _mediator.Send(new DeleteLeaseholderDapperCommand(leaseholderId));

        _navManager.NavigateTo("/leaseholdersinformation_dapper", forceLoad: true);
    }
    
    private void CancelDeletion()
    {
        _navManager.NavigateTo("/leaseholdersinformation_dapper");
    }
}



